mesa {
    background-color: darkslategrey;
    color: navy;
}
placar{
background-color: brown;
color: black;
}
cartas{
    background-color: black;
    color: aqua;
}










